<div class="cb-header">
  <div class="cb-header-title" routerLink="">
    Codebook
    <span class="cb-header-title-badge">Alpha</span>
  </div>

  <div class="cb-header-navigation">
    <div class="cb-header-navigation-item cb-header-navigation-item-primary">
      Create Codebook
    </div>
    <div class="cb-header-navigation-item" routerLink="about">About</div>
    <a class="cb-header-navigation-item" href="https://github.com/roulzhq/Codebook" rel="noopener" target="_blank">View on GitHub</a>
  </div>
</div>
