@import '~src/variables.scss';
@import '~src/mixins.scss';

:host {
  .cb-header {
    width: 100%;
    height: 100%;
    background: $dark;
    color: $light;

    @include box-shadow-1();

    display: flex;
    align-items: center;
    justify-content: space-between;

    .cb-header-title {
      font-size: 2rem;
      display: inline-block;
      margin-left: 20px;
      letter-spacing: 1px;

      .cb-header-title-badge {
        background: $primary;
        color: $dark;
        padding: 3px;
        border-radius: 5px;
        font-size: 0.6rem;
        vertical-align: super;
        text-transform: uppercase;
      }
    }

    .cb-header-navigation {
      margin: 0 20px;
      padding: 0;
      height: 100%;

      .cb-header-navigation-item {
        padding: 0 10px;
        cursor: pointer;
        height: 100%;

        display: inline-flex;
        align-items: center;

        transition: 0.2s all ease-in-out;

        border-bottom: 0px solid transparent;

        &:hover {
          background-color: $dark-accent;
        }
      }

      .cb-header-navigation-item-active {
        border-bottom: 3px solid $primary;
      }

      .cb-header-navigation-item-primary {
        background-color: $primary;
        height: 50%;
        margin: 0 20px;

        @include box-shadow-2();

        &:hover {
          background-color: $primary-accent;
        }
      }

      .cb-header-user {
        position: relative;
        margin-left: 40px;

        .cb-header-user-dropdown {
          display: none;
          opacity: 0;
          position: fixed;
          width: 160px;

          top: 60px;
          right: 20px;

          background-color: $dark;

          @include box-shadow-2();
          
          .cb-header-user-dropdown-item {
            display: flex;
            justify-content: space-between;
            padding: 10px 6px 10px 20px;
            white-space: nowrap;
            border-left: 0px solid transparent;

            @include transition();

            &:hover {
              background-color: $dark-accent;
              border-left: 3px solid $primary;
            }
          }
        }

        &:hover .cb-header-user-dropdown {
          display: block;
          opacity: 1;
        }
      }
    }
  }
}
