:host {
  #app {
    display: grid;
    grid-template-areas: 'header' 'content';
    grid-template-rows: 60px auto;
    height: 100%;
  }

  cb-header {
    grid-area: header;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
  }

  .content {
    grid-area: content;
    overflow: scroll;
  }
}
