<div class="view">
  <div class="codebook" *ngIf="codebook$ | async as codebook">
    <div class="codebook-head">
      <h1 class="codebook-title">
        {{ codebook.title }}
      </h1>
    </div>
    <div class="codebook-content">
      <div class="codebook-cells">
        <codebook-cell
          *ngFor="let cell of cells$ | async; trackBy: codebookTrackByFunction"
          [data]="cell"
          (dataChange)="onCellDataChanged($event, cell.id)"
        ></codebook-cell>
      </div>
    </div>
  </div>
</div>
