@import '~src/variables';
@import '~src/mixins';

:host {
  .cell {
    margin: 10px 0;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto 200px;
    background: $light-accent;

    border-bottom: 2px solid $success;

    @include transition();
    @include box-shadow-1();

    .cell-main {
      .cell-input {
      }
      .cell-output {
      }
    }

    .cell-controls {
      button {
        display: block;
      }
    }

    .lines {
      .line {
        background-color: $primary;
        margin: 2px;
      }
    }
  }

  .unsavedChangesBorder {
    border-bottom: 2px solid $error;
  }
}
