@import '~src/variables.scss';
@import '~src/mixins.scss';

:host {
  .view {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginForm {
      width: 30%;
      height: 60%;

      position: relative;

      background: $light-accent;

      padding: 40px;

      display: flex;
      flex-flow: column;
      text-align: center;

      border-radius: 4px;

      @include box-shadow-2();

      h1 {
        margin: 0 0 40px 0;
      }

      input {
        display: block;
        width: 100%;
      }

      label {
        color: $dark-accent;
        margin: 10px 0;
        text-align: left;
      }

      button {
        margin-top: 40px;
      }
    }
  }
}
