<div class="view">
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="loginForm">
    <label>
      Email
      <input
        type="email"
        formControlName="email"
        [class.is-invalid]="
          loginForm.get('email').invalid && loginForm.get('email').touched
        "
      />
    </label>
    <small
      *ngIf="
        loginForm.get('email').errors?.required &&
        loginForm.get('email').touched
      "
      class="text-error"
    >
      Please provide an email
    </small>

    <small *ngIf="loginForm.get('email').errors?.pattern" class="text-error">
      Please provide a valid email address
    </small>

    <label>
      Password
      <input type="password" formControlName="password" />
    </label>

    <small
      *ngIf="
        loginForm.get('password').errors?.required &&
        loginForm.get('password').touched
      "
      class="text-error"
    >
      Please provide an password
    </small>

    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
  </form>
</div>
