@import '~src/variables';
@import '~src/mixins';

:host {
  .cell {
    display: grid;
    grid-column-gap: 10px;
    grid-template-rows: auto auto;
    background: $light-accent;

    border-left: 2px solid $success;

    @include transition();
    @include box-shadow-1();

    .cell-input {
      position: relative;

      min-height: 100px;
      max-height: 300px;
      overflow: hidden;
      resize: vertical;

      
      .cell-input-editor {
        height: 100%;

        .margin {
          width: 20px
        }
      }
    }

    .cell-output {
    }
  }

  .unsavedChangesBorder {
    border-left: 2px solid $error;
  }
}
