// Interactive colors
$primary: #01a3a4;
$primary-accent: #00d2d3;
$secondary: #341f97;
$secondary-accent: #5f27cd;

$success: #10ac84;
$success-accent: #1dd1a1;
$warning: #ff9f43;
$warning-accent: #feca57;
$error: #ee5253;
$error-accent: #ff6b6b;

$link: #54a0ff;

// Backgrounds
$dark: #222f3e;
$dark-accent: #576574;
$light: #f5f6fa;
$error-accent: #fafafa;
