<div class="index">
  <div class="index-jumbotron">
    <div class="index-jumbotron-overlay"></div>
    <h1>Codebook</h1>
    <h2>Notebooks for developers, like it's 2020</h2>
  </div>
  <div class="index-into">
    <div class="index-intro-left">
      <h1>Why Codebook is awesome:</h1>
      <p>
        Codebook let's you create <span>sharable</span> notebooks with javascript that you
        can view and edit <span>everywhere</span>.
      </p>
      <p>
        You can create some Graphs with data uploaded to the cloud, and later
        show it to your colleagues on your phone!
      </p>
    </div>
    <div class="index-intro-right"></div>
  </div>
</div>
