@import '~src/variables.scss';
@import '~src/mixins.scss';

:host {
  .index {
    .index-jumbotron {
      height: 400px;
      width: 100%;

      background-image: url('../../../assets/images/home-jumbo-background.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      position: relative;

      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      /* clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        90% 90%,
        60% 90%,
        50% 100%,
        40% 90%,
        10% 90%,
        0 100%
      ); */

      h1,
      h2 {
        z-index: 1;
        margin: 0;
      }

      h1 {
        margin-bottom: 20px;
        color: $light;
        font-size: 3rem;
        letter-spacing: 3px;
      }

      h2 {
        color: $primary-accent;
        letter-spacing: 1px;
        font-weight: lighter;
      }

      .index-jumbotron-scrollDownButton {
        color: $primary;
        position: absolute;
        bottom: 30px;
        cursor: pointer;
      }

      .index-jumbotron-overlay {
        background: radial-gradient(
          circle,
          rgba(33, 33, 33, 0.7) 0%,
          rgba(34, 47, 62, 1) 80%
        );
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
      }
    }

    .index-into {
      height: 400px;
      width: 100%;
      /* margin-top: -40px; */
      padding: 40px 60px;

      display: grid;
      grid-template-columns: 1fr 1fr;

      background: repeating-linear-gradient(
        45deg,
        #f3f3f3,
        #f3f3f3 40px,
        #e9e9e9 40px,
        #e9e9e9 80px
      );

      h1 {
        font-size: 2rem;
        color: $primary;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      p {
        font-size: 1.2rem;

        span {
          color: $primary;
          font-weight: bolder;
        }
      }
    }
  }
}
